.canvas {
  position: relative;
  width: 600px;
  height: 600px;
  border: 0.25px solid #000;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

@keyframes pulse {
  0% {transform: scale(0.6); }
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}

}

.piece {
  position: absolute;
  max-width: 400px;
  animation: pulse 0.5s ease-out forwards;
}

.piece-0 {
  position: absolute;
  max-width: 600px;
}

.piece-1 {
  position: absolute;
  max-width: 600px;
}

.piece-2 {
  position: absolute;
  max-width: 600px;
}

.piece-3 {
  position: absolute;
  max-width: 600px;
}

.piece-4 {
  position: absolute;
  max-width: 600px;
}

.piece-5 {
  position: absolute;
  max-width: 600px;
}

.piece-6 {
  position: absolute;
  max-width: 600px;
}

.piece-7 {
  position: absolute;
  max-width: 400px;
}

.piece-8 {
  position: absolute;
  max-width: 400px;
}

.piece-9 {
  position: absolute;
  max-width: 400px;
}

.piece-10 {
  position: absolute;
  max-width: 400px;
}

.piece-11 {
  position: absolute;
  max-width: 400px;
}

.piece-12 {
  position: absolute;
  max-width: 400px;
}

/* .reset-button {
} */