.canvas {
  position: relative;
  width: 600px;
  height: 600px;
  border: 0.25px solid #000;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.piece {
  position: absolute;
  max-width: 400px;
  cursor: move;
  transition: transform 0.2s ease;
}