.canvas {
    width: 400px;
    height: 400px;
    background: whitesmoke;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .piece {
    position: absolute;
    width: 20%;
    height: auto;
  }  