.canvas {
  position: relative; /* Parent for absolute children */
  width: 600px;
  height: 600px;
  border: 0.25px solid #000;
  background: offwhite;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 4px;
}

.piece {
  position: absolute; /* CRITICAL: Changed from relative to absolute */
  animation: pulse 0.5s ease-out forwards;
  --rotation: 0deg;
}

@keyframes pulse {
  0% { transform: scale(0.6) rotate(var(--rotation)); }
  50% { transform: scale(1.2) rotate(var(--rotation)); }
  100% { transform: scale(1) rotate(var(--rotation)); }
}

/* top boxes! */
.piece-0 {
  max-width: 575px;
}

.piece-1 {
  max-width: 575px;
}

.piece-2 {
  max-width: 575px; /* Photo box */
}

.piece-3 {
  max-width: 575px;
}

.piece-4 {
  max-width: 575px;
}

.piece-5 {
  max-width: 575px;
}

.piece-6 {
  max-width: 575px;
}

/* Text pieces*/
.piece-7 {
  max-width: 300px; /* speakin' */
}

.piece-8 {
  max-width: 300px; /* my piece */
}

.piece-9 {
  max-width: 300px; /* horace parlan quintet */
}

.piece-10 {
  max-width: 380px; /* artists on the album */
}

.piece-11 {
  max-width: 350px; /* Blue Note logo */
}

.reset-button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: white;
  color: black;
  border-color: #000;
  border: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reset-button:hover {
  background-color: black;
  color:  whitesmoke;
}