.grid-container{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
  "header header header"
  "canvas canvas canvas"
  "footer footer footer"  ;
}

.header{
  grid-area: header;
  position: relative;
  text-align: center;
  width: 100vw;
  height: 10vh;
  padding: 15px;
}

.canvas{
  align-items: center;
  grid-area: canvas;
  width: 100vw;
  height:100vh;

}

.footer{
  grid-area: footer;
  text-align: center;
  color: gray;
}

h1 {
  color: black;
}