.grid-container{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
  "header header header"
  "canvas canvas canvas"
  "footer footer footer"  ;
}

header{
  grid-area: header;
  width: 100vw;
  height: 20vh;
  padding: 10px;
}

canvas{
  grid-area: canvas;
  width: 100vw;
  height:100vh;

}

footer{
  grid-area: footer;
}

h1 {
  color: orange;
}