.grid-container{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
  "header header header"
  "canvas canvas canvas"
  "footer footer footer"  ;
}

.header{
  grid-area: header;
  position: relative;
  text-align: center;
  width: 100vw;
  height: 10vh;
  padding: 15px;
}

.canvas-container{
  grid-area: canvas;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  grid-area: footer;
  text-align: center;
  color: gray;
}

h1 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}