.grid-container{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
  "content content content"
  "canvas canvas canvas"
  "footer footer footer"  ;
}

.canvas {
  grid-area: canvas;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border: 3px solid blue;
  position: relative;
  overflow: hidden;
}