.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
    "header header header"
    "canvas canvas canvas"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
  text-align: center;
  padding: 20px;
  background-color: #EDE8D0;
}

.canvas-container {
  grid-area: canvas;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  background-color: #EDE8D0;
}

.footer {
  grid-area: footer;
  text-align: center;
  padding: 15px;
  background-color: #EDE8D0;
  color: black;
}

h1 {
  color: black;
  font-family: pragmatapro, sans-serif;
  margin: 0;
}