.layout {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
  }
  
  .palette {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .thumb {
    width: 100%;
    cursor: pointer;
  }